*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* image container  */
@font-face {
    font-family: 'myFont';
    src: url(./fonts/Norse-Bold.otf);
}

:root{
    --container-height : 100vh;
}
.mainContainer{
    height: var(--container-height);
    width: 70vw;
    margin: auto;
    display: flex;
}
.imageContainer{
    position: relative;
    height: var(--container-height) ;
    width: 30vw;
    background-image: url(./image/halie-west-25xggax4bSA-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: border-box;
}
.logoContainer{
    color: white;
    background-color: rgb(0, 0, 0,0.3);
    backdrop-filter: blur(2px);
    height: 30vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 80px;
}
.logo{
    background-image: url(./image/odin-lined.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    background-clip: border-box;
    height: 28vh;
    width: 10vw;
}
h1{
    font-size: clamp(1.2rem , 4vw + 1rem, 4rem);
    font-family: "myFont";
}
h5{
    text-align: center;
}
.imageCredit{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:#fff;
    position: absolute;
    bottom: 40px;
    left: 5px;
    right: 5px;
    font-size: 0.8rem;
    
}
.credit{
    text-decoration: underline;
}
/* image container */
.formContainer{
    background-color: #f9fafb;
    height: var(--container-height);
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.formbox{
    height: 80vh;
}
.form{
    height: 40vh;
    background-color: #fff;
    box-shadow: 0 4px 8px rgb(0, 0, 0,0.3) ;
}
.introBox,.submitBox,.form{
    padding: 20px;
}
.introBox{
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
}
.submitBox{
    height: 15vh;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


h2{
    margin-left: 50px;
}
.introText{
    font-family:Arial, Helvetica, sans-serif;
    font-size:  clamp(0.6rem, 2.2vh, 1.4rem);
    font-weight: 600;
    line-height: 1.6rem;
    margin-bottom: 10px;
}

.form-row{
    display: flex;
    justify-content:space-evenly;
    gap: 30px;
    margin: 1.6em;
}
label{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
}
input{
    height: 4vh;
    width: 15vw;
    font-family:monospace;
    border-radius: 10px;
    border: 0.1px solid #E5E7EB;
}
#submitBtn{
    height: 5vh;
    width: 10vw;
    border: none;
    border-radius: 10px;
    background-color: #596d48;
    color: #fff;
    font-weight: 600;
    box-shadow: 0px 4px 8px rgb(0, 0, 0,0.4);
}
#submitBtn:hover{
    height:6vh;
    width:11vw ;
}
.form-group input:invalid{
    border-color: red;
}
.form-group input:focus{
    border-color: #1a73e8;
}