*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* image container  */
@font-face {
    font-family: 'myFont';
    src: url(./fonts/Norse-Bold.otf);
}

:root{
    --container-height : 100vh;
}
.mainContainer{
    border: 1px solid red;
    height: var(--container-height);
    width: 70vw;
    margin: auto;
    object-fit: cover;
}
.imageContainer{
    position: relative;
    border: 1px solid ;
    height: var(--container-height) ;
    width: 30vw;
    background-image: url(./image/halie-west-25xggax4bSA-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: border-box;
}
.logoContainer{
    color: white;
    background-color: rgb(0, 0, 0,0.3);
    backdrop-filter: blur(3px);
    height: 30vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 80px;
}
.logo{
    background-image: url(./image/odin-lined.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    background-clip: border-box;
    height: 28vh;
    width: 10vw;
}
h1{
    font-size: clamp(1.2rem , 4vw + 1rem, 4rem);
    font-family: "myFont";
}
h5{
    text-align: center;
}
.imageCredit{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:#fff;
    position: absolute;
    bottom: 15px;
    left: 5px;
    right: 5px;
    font-size: 0.8rem;
}
span{
    text-decoration: underline;
}
/* image container */